.fundo{
    background-image: linear-gradient(to bottom left, rgb(39, 241, 241), white); /* Define o fundo como colorido e gradiente*/
    height: 100vh; /* A visão é toda a saída do visor */
    font-family: Arial, Helvetica, sans-serif; 
}

*{
    padding: 0; /* Zero de distância entre o conteúdo e a borda */
    margin: 0; /* A margin é zero */
}

h1{
    text-align: center;
}

.calculadora{
    top: 50%; /* Metade da altura */
    left: 50%; /* Metade da largura */ 
    background-color: black;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%); /* Movimento do elemento para horinzontal/vertical */
    border-radius: 15px; /* Borda arredondada */
    padding: 15px;
}

tr, td{
    text-align: center;
    padding: auto;
}

.botao{
    width: 50px;
    height: 50px;
    background: rgba(211, 211, 211, 0.575);
    color: white;
    border: white solid 1px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 150%;
}

.botao:hover{
    background: rgba(211, 211, 211, 0.274);
}

#igual{
    height: 106px;
}

#zero{
    width: 106px;
}

#resultado{
    background-color: white;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 20px;
    padding: 3px;
    color: black;
    text-align: end;
}